// Place all the styles related to the auctions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.bid_bid_price {
  display: inline;

  #bid_bid_price {
    width: 20%;
    display: inline;
  }
}

#bid-submit {
  display: inline;
}
